@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";
@plugin "daisyui"{
    themes: light --default, dark ;
}
@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #F85606;
    --color-accent: #08642D;
    --color-neutral: #D2D1F4;
    --color-secondary: #FFD6A7;
  }
*{
    font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

.product-chat-icon::after{
  content: "";
  position: absolute;
  bottom: -8px;
  right: 20px;
  width: 16px;
  height: 16px;
  rotate: 45deg;
  background-color: white;
}